.keypadButton {
  background-color: #63636e;
  border: 1px solid #434343;
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  margin: 8px;
  color: #f3f3f3;
  font: {
    family: "Roboto Mono";
    weight: 500;
    size: 48px;
  }
  text-align: center;
  outline: none;
  /*added*/
  position: relative;
  cursor: pointer;
  user-select: none;

  &:active {
    transform: scale(0.8);
    transition: transform 0.5s ease-in;
  }
}

.keypadButton__Symbol {
  font: {
    size: 12px;
    weight: 500;
  }
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70%;
  left: 80%;
  color: #222222;
}
