.backlitScreen {
  background-color: #47b2b2;
  width: 80%;
  height: 25%;
  border: 1px solid #606063;
  border-radius: 5px;
  margin: 16px;
  position: relative;
  color: #434343;
  overflow: hidden;
}

.backlitScreenOff {
  background-color: #7fffff;
}

.backlitScreen__LockStatus {
  margin: 8px;
  font: {
    size: 16px;
    weight: 400;
  }
  user-select: none;
}

.backlitScreen__StatusMessage {
  margin: 8px 8px;
  padding: 0 8px;
  font: {
    size: 32px;
    weight: 500;
  }
  position: absolute;
  bottom: 0;
  right: 0;
  user-select: none;
}
